dist/index.html
<!DOCTYPE html><html><head lang="en"><meta charset="UTF-8"><script type="text/javascript" src="js/jquery-1.12.2.min.js"></script><script type="text/javascript" src="js/jquery.tooltipster.min.js"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"><link rel="stylesheet" href="css/tooltipster.css"><link rel="stylesheet" href="css/tooltipster-theme.css"><link rel="stylesheet" href="css/style.css"><title>Форма ввода</title></head><body><div id="container"><form id="form"><div tabindex="1" class="focusguard fg-begin"></div><div class="theme"><input placeholder="Тема" tabindex="1"></div><div class="message"><textarea tabindex="1"></textarea></div><div class="buttons"><button tabindex="-1" class="submit-message disabled btn"><span class="button-text">Отправить</span></button><button tabindex="-1" class="cancel disabled btn"><span class="button-text">Отменить</span></button><div title="Вставить смайлик" tabindex="1" class="btn-icon emoticon"><i class="fa fa-smile-o"></i></div><div title="Вставить ip" tabindex="1" class="btn-icon insert-ip"><i class="fa fa-magic"></i></div></div><div tabindex="1" class="focusguard fg-end"></div></form></div><script id="smilies-template" type="text/html-template"><div class="smiley-icons"><i data-text=":-)" class="fa fa-smile-o"></i><i data-text=":-|" class="fa fa-meh-o"></i><i data-text=":-(" class="fa fa-frown-o"></i></div></script><script type="text/javascript" src="js/app.js"></script></body></html>

src/jade/index.jade
doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        script(type="text/javascript", src="js/jquery-1.12.2.min.js")
        script(type="text/javascript", src="js/jquery.tooltipster.min.js")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/tooltipster.css')
        link(rel='stylesheet', href='css/tooltipster-theme.css')
        link(rel='stylesheet', href='css/style.css')
        title Форма ввода
    body
        #container
            form#form
                .focusguard.fg-begin(tabindex=1)
                .theme
                    input(placeholder="Тема", tabindex=1)
                .message
                    textarea(tabindex=1)
                .buttons
                    button.submit-message.disabled.btn(tabindex=-1)
                        span.button-text Отправить
                    button.cancel.disabled.btn(tabindex=-1)
                        span.button-text Отменить
                    div.btn-icon.emoticon(title="Вставить смайлик", tabindex=1)
                        i.fa.fa-smile-o
                    div.btn-icon.insert-ip(title="Вставить ip", tabindex=1)
                        i.fa.fa-magic
                .focusguard.fg-end(tabindex=1)

        include templates

        script(type="text/javascript", src="js/app.js")
